<div class="row mt-5 p-3">
        <div class="col-12 text-center title-size">
            <h1 class="title-size">Bienvenido a <strong> Tweet</strong>!</h1>
    </div>
 </div>  
 <div class="row mt-5 p-3">
    <div class="col-12 text-center ">
        <h1 class="sub-title-size">Un sitio en donde puedes publicar tus mejores momentos</h1>
</div>
</div>  

<div class="row mt-3 p-3">
    <div class="col-2 col-md-2 col-sm-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 text-center  ">
        <mat-card class="shadow p-3 rounded"> 
            <mat-card-content>
                <h1 class="sub-title-size"><strong> jbarrios</strong></h1>
                <p class="verse-text-size p-3 text-justify text-wrap">Sin duda alguna<strong> Olimpia</strong>  es el mejor equipo de Paraguay</p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-2 col-md-2 col-sm-1"></div>
</div>  

    
  