
<div class="row bg-white shadow p-3 mb-5">
  <div class="col-lg-4 col-md-12 col-sm-12 bg-primary mt-2 text-white rounded ">
    <h2>Seguidores</h2>
    <p class="text-center size"> <strong>{{currentBalance }}</strong></p>
    
        
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 bg-success mt-2 text-white rounded ">
        <h2 class="">Seguidos </h2>
        <p class="text-center size"><strong>{{totalCreditMonth }}</strong> </p>
  </div>
  <div class="col-lg-4 col-md-12 col-sm-12 bg-secondary text-white mt-2  rounded ">
    <h2 class="">Cantidad de tweets tuyos</h2>
    <p class="text-center size"><strong>{{totalDebitMonth  }}</strong> </p>
</div>