<mat-sidenav-container fullscreen class="w-100">
  <mat-sidenav class="sidenav" #sidenav mode="push">
    <mat-toolbar>
      <span>Menu</span>
      <span class="example-spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

    </mat-toolbar>

      <mat-nav-list>
        <mat-list-item [routerLink]="profile.url" (click)="sidenav.toggle()">
          <mat-icon>{{profile.icon}}</mat-icon>{{profile.label}}
        </mat-list-item>
      </mat-nav-list>
      <mat-nav-list>
        <mat-list-item [routerLink]="tweet.url" (click)="sidenav.toggle()">
          <mat-icon>{{tweet.icon}}</mat-icon>{{tweet.label}}
        </mat-list-item>
      </mat-nav-list>
    <mat-nav-list>
      <mat-list-item  [routerLink]="home.url" (click)="sidenav.toggle()">
        <mat-icon>{{home.icon }} </mat-icon>{{ home.label}}
      </mat-list-item>
      <mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon> Salir
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>



  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>

    </button>
    <span>{{this.userName}}</span>
    <span class="example-spacer"></span>
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon> Salir
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>

</mat-sidenav-container>